/* Backgrond */
.background{
    width: 100%;
    height: 100%;
    background-image: url(background3.jpg);
    background-size: cover;
    position: absolute;
    overflow-x: hidden;
    
}

.body{
    margin: 0px;
    
}
/* Character Alignment */
.boy{
    position: absolute;
    width: 300px;
    margin-top: 408px;
    margin-left: 150px;
      
}
/* Score styles */
.score{
    position: absolute;
    font-size: 90px;
    font-family: cursive;
    font-weight: bold;    
    margin-left: 85%;
}
/* fire blocks */
.block{
    position: absolute;
    width: 80px;
    height: 90px;
    background-image: url("flame.gif");
    background-size: cover;
    margin-top: 550px;
        
}
/* Game over Box */
.gameOver{
    position: absolute;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    margin-left: 35%;
    background-color: rgba(0, 0, 0, 0.649);
    color: aliceblue;
    border-radius: 100px;
    visibility: hidden;
     
}
/* Game Over Image */
.text1{
    background-image: url(GameOver.png);
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 500px;
    margin-bottom: 300px;
}
/*.Gameoverimage{
    width: 100px;
    height: 8px;
    position: absolute;
    margin-left: 32%;
}*/
/* "Your Score" Text */
.text2{
    position: absolute;
    font-size: 45px;
    height: 10px;
    font-family: cursive;
    font-weight: bold;
    margin-bottom: 100px;
}
/* Red try again Button */
.button{
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-top: 350px;
    border-radius: 100%;
    background-color: rgba(34, 34, 34, 0);
    background-image: url(tryagain.png);
    background-size: cover;
    cursor: pointer;
}
/* High Score Text(Add Text in JavaScript ) */
.text3{
    position: absolute;
    font-size: 40px;
    height: 10px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 100px;
}
/* First loading Box */
.startbox{
    background-image: url(background3.jpg);   
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow-x: hidden;    
}
/* Introduction Box */
.instruction{
    position: absolute;
    width: 38%;
    height: 80%;
    margin-top: 50px;
    margin-left: 35%;
    background-color: rgba(242, 245, 177, 0.399);
    background-size: cover;
    border-radius: 50px;
    border-style: double;
    border-color: rgb(57, 56, 56);
    border-width: 4px;
    margin-left: 30%;
    justify-content: center;
    align-items: center;   
}
/* Flash Runner Name */
.name{
    width: 800px;
    height: 500px;
    position: absolute;  
    margin-top: -185px; 
    margin-left: -120px;      
}
/* Charactor */
.idle{
    height: 400px;
    position: absolute;
    margin-top: 90px;
    margin-left: -50px;
}
/* Fire Block on start page */
.fire{
    background-image: url(flame.gif);
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 350px;
    margin-left: 300px;
}

.text4{
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-top: 450px;
    margin-left:110px ;
    color: rgba(0, 0, 0, 0.544);
}

.text5{
    font-size: 35px;
    font-weight: bolder;
    position: absolute;
    margin-top: 500px;
    margin-left: 120px;
    color: rgba(0, 20, 20, 0.601);
}

